--extra-index-url https://download.pytorch.org/whl/cpu

Django==5.0.1
djangorestframework
django-cors-headers
gunicorn
python-dotenv
Pillow
numpy
faiss-cpu
ftfy
regex
tqdm
clip
torch==2.1.2+cpu
torchvision==0.16.2+cpu
